body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif, Arial;
    padding: 0;
    margin: 0;
}


.container {
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: space-between;
}

.container>img{
    width: 85px;
    height: 85px;
    margin: 1rem 2.5rem 1.5rem;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-top: 3rem;
}

.navbar {
    text-align: center;
    padding: 0.1rem 0;
    background-color: darkgray;
}

.navbar > ul li {
    text-decoration: none;
    display: inline-block;  
    margin: 0 1.5rem 0;  
}

.navbar > ul li a {
    text-decoration: none;
    color: rgb(10, 118, 225);
}


h2 {
    color:darkblue;
}

main {
    display: flex;
}

section {
    margin: 0 2rem;
}

aside {
    justify-content: flex-end;
    margin: 0 8rem;
}

footer {
    background-color: rgb(131, 131, 131);
    text-align: center;
    padding: 0.001rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}